
<div id="mainpage">
  <!-- <h1>Welcome to TeachMe!</h1> -->
<div class="container">
    <div class="jumbotron book-img">
      <h1 class="display-4">Welcome to TeachMe!</h1>
      <p class="lead">Take classes and teach classes, all in one place!</p>
      <hr class="my-4">
      <p>We offer classes on topics ranging from Algebra to Zoology. Learn a new topic today!</p>
      <a class="btn btn-primary btn-lg m-3" href="http://flip2.engr.oregonstate.edu:4455/new_user" role="button" id="regButton" >Sign Up!</a>
      <a class="btn btn-primary btn-lg m-3" href="http://flip2.engr.oregonstate.edu:4455/login" role="button" id="regButton" > Log In!</a>
    </div>
</div>
  
  <!-- <p>
FAQ's, informataion, ect 
 </p> -->
  
  
  <!-- <form method="get" action="../frontend/register.html">
      <button type="submit">Register Now</button>
  </form> -->
</div><!-- our container -->

<!-- Optional JavaScript -->
<!-- Include: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  

